
body {
	font-family: sans-serif;
	margin:  10px;
	padding: 10px;
}

.header {
	font-family: sans-serif;
	font-size: 90%;
	margin: 20px 60px;
	padding: 10px;
 	border: 1pt solid;
	background-color: #fafafa;
}

h1, h2, h3, h4 {
	font-family: sans-serif;
}
h1 {
	font-size: 150%;
	border-bottom: 2px solid;
	padding-top: 10pt;
}
h2 {
	font-weight: normal;
	font-size: 140%;
	border-bottom: 2px solid;
	padding-bottom: 2pt;
	padding-top: 10pt;
	margin-top: 0pt;
	letter-spacing: 1pt;
}

h3 {
	font-weight: normal;
	font-size: 110%;
	border-bottom: 1px solid;
	padding-bottom: 2pt;
	margin-top: 0pt;
	letter-spacing: 1pt;
}

h4 {
	font-weight: normal;
	border-bottom: 1px solid;
	font-size: 100%;
	padding-bottom: 2pt;
	margin-top: 4pt;
	letter-spacing: 1pt;
}

pre {
	font-family: Courier New, monospace;
	font-size: 90%;
	border: 1px solid;
	background-color: #eee;
	padding: 4px;
	margin: 1em 1em;
	overflow: hidden;
}


